

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: red;
}

/*about*/
#about{
    min-height: 70vh;
    padding: 80px 0;
    color:wheat
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
font-size: 50px;
color: aliceblue;
font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px  40px;
}
.tab-links{
    color:aqua;
    text-decoration: none;
    margin-right: 50px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}

.text-red{
    color: red;
    font-size: 50px;
}

.tab-contains ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contains ul li span{
    color:white;
    font-size: 14px;
}
.tab-contains{
    display: flex;
    text-align: left;
    margin: 10px;
}
   
.box{
    background-color: rgb(26, 25, 25);
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(26, 25, 25);
    text-align: center;
    transition: background 0.5s, transform 0.5s;
}
.box:hover{
    background: red;
    transform: translateY(-10px);
}
#project{
    padding: 50px 0;
    
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6), #ff2b2b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
font-weight: 500;
margin-bottom: 30px;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(50, 43, 43);
    padding: 14px 50px;
    border-radius: 15px;
    text-decoration: none;
    color: wheat;
transition: background 0.6s;
}
.btn:hover{
    background: red;

}
#contact{
    min-height: 70vh;
}
footer{
    background-color:black;
    color: aliceblue;
    margin: 20px auto;
    justify-content: center;
    text-align: center;
}